
<div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">Your Cart</h3>
  </div>
   <div class="panel-body">
 <table>
<% @cart.line_items.each do |item| %>
	 <tr>
	 <td><%= item.quantity %>&times;</td>
	 <td><%= item.product.name %></td>
	 <td class="item_price"><%= number_to_currency(item.total_price) %></td>
	 </tr>
	 
<% end %>


	 <tr class="total_line">
	 <td colspan="2">Total</td>
	 <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	 </tr>
	  
 <tr>
<td colspan="2"><%= button_to 'Empty cart', @cart, method: :delete, 
data: { confirm: 'Are you sure?' } %></td>
 <td colspan="3"><%= button_to "Checkout", new_order_path, method: :get %></td>
 </tr>
 </table></br>
</div>
	  </div>
	  
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
</div>