<%= div_for comment do %>
  <h3>
    Name: <%= comment.name %>  
    <% if logged_in? && comment.email == current_user.email %>
      <span class='actions'>
      	<%= link_to "Edit",edit_article_comment_path(@article,comment) %> |
        <%= link_to 'Delete', [@article, comment], confirm: 'Are you sure?', method: :delete, remote: true %>
      </span>
    <% end %>
  </h3>
  <%= comment.body %>
<% end %>
