<div class="panel panel-primary">
  <div class="panel-heading">
  <h1 class="panel-title" style="text-align: center;"  >Products</h1>
  </div>
   <div class="panel-body">
   	
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
	
  <strong>Image:</strong></br>
  <% if @product.image.exists? %>
  	<%= image_tag @product.image.url :small %></br>
  <% end %>
  
  
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>
<strong>Created:</strong>
	<%= @product.created_at.strftime("%B %d, %Y")%>
<% if logged_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %></br>
<% else %>
<%= link_to 'Back', products_path %></br>
<% end %>
 
<%= link_to_function "Comments" , "$('.comment').toggle()" %>
 (<%=@product.comments.size %>)</br>

<div class= "comment">
	
<%= render @product.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>

</div>
</div>
</div>