
<%= div_for @article do |article| %>
<h3>
	<%= link_to article.title, article %>
	<% if article.owned_by? current_user %>
	<span class='actions'>
		<%= link_to "Edit",edit_article_path(article) %>
		<%= link_to "Delete", article, confirm: "Are you sure?",
		method: :delete %>
		</span>	
		<% end %>
		
</h3>
<%= simple_format article.body %>
<% end %>
<%= link_to 'Email a friend', '#', :onclick => "$('#notify_friend_form').slideDown()" %>
<%= render 'notify_friend' %>

<h3>Comments</h3>
<div id="comments">
  <%= render @article.comments %>
</div>
<% if logged_in? %>
<%= link_to "new comment", new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>
<% end %>
